#runway-list-departure {
	left: 50px;
}

#runway-list-landing {
	left: 150px;
}

#transfer-altitude {
	left: 250px;
}

#transfer-level {
	left: 350px;
}

#atis_error {
	top: 350px;
	left: 250px;
	border: rgb(16, 150, 230);
}

#atis_data {
	top: 350px;
	left: 20px;
}

#atis_info {
	top: 50px;
	width: 500px;
	left: 10px;
	color: rgb(120, 120, 120);
	margin: 30px;
	border: rgb(220, 200, 16);
}

.atis_base {
	top: 140px;
	border: rgb(16, 150, 230);
}
