#runway-list-departure {
	left: 50px;
}

#runway-list-landing {
	left: 150px;
}

#transfer-altitude {
	left: 250px;
}

#transfer-level {
	left: 350px;
}

#atis_error {
	top: 350px;
	left: 250px;
}

#atis_data {
	top: 350px;
	left: 20px;
}

#atis_info {
	top: 30px;
	width: 600px;
	left: 10px;
	color: rgb(120, 120, 120);
}


.strorage {
	top: 140px;
}