p {
	color: rgb(150, 50, 50);
	width: 400px;
}

ul {
	color: rgb(150, 150, 90);
}

li {
	color: rgb(0, 0, 200);
}

input {
	color: rgb(150, 150, 90);
}

table {
	color: rgb(180, 180, 120);
}

tr {
	color: rgb(180, 180, 120);
}

th {
	color: rgb(180, 180, 120);
}

td {
	color: rgb(180, 180, 120);
}

img {
	top: 15px;
	left: 20px;
}

body {
	background-color: rgb(20, 20, 20);
}

click {
	color: rgb(60, 250, 250);
}

.clickable {
	color: rgb(250, 20, 20);
}

#menus {
	top: 250px;
	left: 30px;
}
