p {
	color: rgb(150, 150, 90);
	width: 400px;
}

ul {
	color: rgb(150, 150, 90);
}

li {
	color: rgb(0, 0, 200);
}

input {
	color: rgb(150, 150, 90);
}

table {
	color: rgb(150, 150, 90);
}

img {
	top: 15px;
	left: 20px;
}

#menus {
	top: 250px;
	left: 30px;
}
