#infolist {
	top: 10px;
	left: 20px;
}

#planelist {
	top: 20px;
	right: 170px;
	color: rgb(150, 150, 60);
	background-color: rgb(190, 190, 200);
}

#clearance_errors {
	top: 600px;
	left: 30px;
}

#game_errors {
	top: 570px;
	left: 30px;
}

#flash {
	left: 650px;
	top: 600px;
	color: rgb(250, 20, 20);
	width: 550px;
}

.holdings {
	left: 1150px;
	top: 500px;
}

.inpoint {
	color: rgb(250, 20, 20);
	border: rgb(250, 20, 20);
}

.outpoint {
	color: rgb(20, 20, 250);
	border: rgb(20, 20, 250);
}