plane {
	color: rgb(150, 150, 90);
}

.infolist {
	top: 10px;
	left: 20px;
}

#planelist {
	top: 50px;
	left: 650px;
}

#clearance_errors {
	top: 500px;
	left: 15px;
}

#game_errors {
	top: 470px;
	left: 15px;
}
