body {
	background-color: green;
}

#infolist {
	top: 10px;
	left: 20px;
}

#planelist {
	top: 20px;
	right: 170px;
	color: rgb(150, 150, 60);
}

#clearance_errors {
	top: 600px;
	left: 30px;
}

#game_errors {
	top: 570px;
	left: 30px;
}

.active {
	color: rgb(250, 15, 15);
}

.normal {
	color: rgb(15, 200, 150);
}

#flash {
	top: 580px;
	left: 30px;
	color: rgb(150, 226, 18);
}
