#menu {
	top: 120px;
	left: 330px;
	width: 350px;
	color: rgb(150, 150, 20);
}

#variables {
	top: 100px;
	left: 30px;
}

#choose_airfield {
	top: 180px;
	left: 30px;
}

#airports {
	top: 220px;
	left: 30px;
}
