#menu {
	top: 10px;
	left: 490px;
	width: 200px;
	color: rgb(150, 150, 20);
}

#variables {
	top: 100px;
	left: 30px;
}

#choose_airfield {
	top: 180px;
	left: 30px;
	color: rgb(190, 160, 190);
	width: 350px;
}

#airport {
	top: 220px;
	left: 30px;
}
