#metar {
	width: 400px;
	color: rgb(10, 10, 10);
	top: 10px;
	left: 10px;
}

#basic_info {
	top: 40px;
	left: 20px;
	color: rgb(30, 30, 30);
}

input {
	color: rgb(120, 130, 130);
}

.userinput {
	top: 550px;
	left: 30px;
	width: 550px;
	height: 30px;
}

.selected {
	color: rgb(60, 250, 20);
}

.normal {
	color: rgb(250, 60, 20);
}

.active {
	color: rgb(20, 60, 20);
}