#metar {
	width: 400px;
}

#basic_info {
	top: 30px;
	left: 20px;
	color: rgb(150, 150, 90);
}

#atis_error {
	top: 150px;
	left: 480px;
}

p {
	left: 10px;
	width: 160px;
	height: 25px;
	color: rgb(150, 150, 90);
}

plane {
	color: rgb(150, 150, 90);
}

ul {
	color: rgb(150, 150, 90);
}

.infolist {
	top: 10px;
	left: 20px;
}

#planelist {
	top: 450px;
	left: 700px;
}

input {
	color: rgb(150, 150, 90);
}

#atis {
	top: 50px;
	left: 50px;
	width: 500px;
}

#departure {
	top: 250px;
}

#landing {
	top: 280px;
}

#level {
	top: 310px;
}

#altitude {
	top: 340px;
}

.strorage {
	top: 150px;
}

#runway-list-departure {
	left: 50px;
}

#runway-list-landing {
	left: 150px;
}

#transfer-altitude {
	left: 250px;
}

#transfer-level {
	left: 350px;
}

.userinput {
	top: 550px;
	left: 30px;
	width: 550px;
	height: 30px;
}